.slider {
	position: relative;
}

.slider-container {
	overflow: hidden;
	scroll-behavior: smooth;
	position: relative;
}

.slider-content {
	display: flex;
}

.card-slider {
	flex: 0 0 100%;
	width: 100%;
	height: 100%;
	position: relative;
}

.card-slider:nth-child(1) {
	padding-left: 0;
}

.card-slider img {
	transition: 0.3s ease-in-out;
	object-fit: cover;
	height: 100%;
	width: 100%;
	opacity: 0.9;
	border-radius: 30px;
}

.followers {
	font-size: 14px;
	text-align: center;
	position: relative;
	margin: 0;
}

.buttons-slider {
	position: absolute;
	top: 0;
	right: 0px;
}

@media screen and (min-width: 768px) {
	.card-slider {
		flex: 0 0 100%;
		height: 320px;
	}
}

@media screen and (min-width: 1024px) {
	.card-slider {
		flex: 0 0 50%;
		height: 320px;
	}
}

@media screen and (min-width: 1280px) {
	.card-slider {
		flex: 0 0 calc(100% / 3);
		height: 320px;
	}
}
