.card-new-movies {
	flex: 0 0 50%;
	height: 100%;
	padding: 1rem;
}

.card-new-movies:nth-child(1) {
	padding-left: 0;
}

.image-card-new-movies {
	height: 100%;
}

.image-card-new-movies img {
	width: 480px;
	object-fit: cover;
	border-radius: 30px;
	height: 100%;
}

@media screen and (min-width: 640px) {
	.card-new-movies {
		flex: 0 0 33.33333%;
		min-width: 33.33333%;
	}
}

@media screen and (min-width: 768px) {
	.card-new-movies {
		flex: 0 0 33.33333%;
		min-width: 33.33333%;
		height: 100%;
	}
}

@media screen and (min-width: 1024px) {
	.card-new-movies {
		flex: 0 0 33.33333%;
		min-width: 33.33333%;
		height: 350px;
	}
}

@media screen and (min-width: 1200px) {
	.card-new-movies {
		flex: 0 0 calc(100% / 6);
		min-width: calc(100% / 6);
		height: 320px;
	}
}

@media screen and (min-width: 1500px) {
	.card-new-movies {
		flex: 0 0 16.66666%;
		height: 370px;
	}
}
