.container-page-read-more {
	display: flex;
	flex-direction: column-reverse;
}

@media (min-width: 1024px) {
}

@media (min-width: 1200px) {
	.container-page-read-more {
		flex-direction: row;
	}

	.container-page-read-more section {
		width: 60%;
	}

	.container-page-read-more aside {
		width: 40%;
	}
}
