.card-movie-archive {
	flex: 0 0 50%;
	width: 50%;
}

@media (min-width: 768px) {
	.card-movie-archive {
		flex: 0 0 33.333333%;
		width: 33.333333%;
	}
}

@media (min-width: 1200px) {
	.card-movie-archive {
		flex: 0 0 16.666666%;
		width: 16.666666%;
	}
}
