.feature-review {
   display: flex;
   overflow-x: hidden;
   overflow-y: hidden;
   scroll-behavior: smooth;
}

.feature-review-card {
   position: relative;
   gap: 20px;
   align-items: center;
   min-width: 100%;
   height: 100%;
}

.feature-review-card .img-feature-review img {
   transition: 0.3s ease-in-out;
   object-fit: cover;
   height: 100%;
   width: 100%;
   opacity: 0.9;
   border-radius: 30px;
}

.img-feature-review {
   width: 100%;
   height: 100%;
}

@media screen and (min-width: 1024px) {
   .feature-review-card {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
   }

   .feature-review-card {
      height: 320px;
   }
}
