.descrition-movie {
	display: flex;
	flex-wrap: wrap;
}

.img-movie-information {
	height: 36vh;
}

.descrition-movie .overview-img {
	flex: 0 0 50%;
	width: 50%;
}

.descrition-movie .overview-img img {
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 1) !important;
}

.descrition-movie .overview-information {
	flex: 0 0 100%;
	width: 100%;
}

.production-companie-wrapper {
	display: flex;
	flex-wrap: wrap;
}

.production-companie .card-companies {
	flex: 0 0 100%;
	max-width: 100%;
}

.production-companie .card-companies {
	display: flex;
	flex-direction: column;
}

.production-companie .card-companies .img-companie {
	width: 33.333333%;
}

.descrition-movie .overview-information .title-general {
	display: none;
	flex: 0 0 100%;
}

.descrition-movie .overview-information-mobile {
	flex: 0 0 100%;
}

.post-related-link {
	display: flex;
}

.post-related-link .overview-img {
	flex: 0 0 33.3333333%;
	max-width: 33.3333333%;
	min-width: 152px;
}

.movie-recommend-content li {
	flex: 0 0 calc(100% / 2);
}

.img-movie-recommend {
	min-height: 228px;
	height: calc((100vw - 24px - var(--width-nav) - (8px * 2)) / (2 * 0.7));
}

@media (min-width: 640px) {
	.overview {
		display: flex;
	}

	.descrition-movie .overview-information {
		flex: 0 0 50%;
		width: 50%;
	}

	.production-companie .card-companies {
		flex-direction: row;
		margin-top: 0;
	}

	.movie-recommend-content li {
		flex: 0 0 calc(100% / 3);
	}

	.img-movie-recommend {
		height: calc((100vw - 24px - var(--width-nav) - (8px * 3)) / (3 * 0.7));
	}
}

@media (min-width: 768px) {
	.descrition-movie .overview-information .title-general {
		display: block;
	}

	.descrition-movie .overview-information-mobile {
		display: none;
	}

	.post-related-link .overview-img {
		flex: 0 0 25%;
		max-width: 25%;
	}

	.production-companie .card-companies {
		flex: 0 0 50%;
		max-width: 50%;
	}

	.movie-recommend-content li {
		flex: 0 0 calc(100% / 4);
	}

	.img-movie-recommend {
		height: calc((100vw - 24px - var(--width-nav) - (8px * 4)) / (4 * 0.7));
	}
}

@media (min-width: 1200px) {
	.movie-information-wrapper {
		display: flex;
	}

	.movie-information-wrapper section {
		flex: 0 0 66.666666%;
		width: 66.666666%;
	}

	.descrition-movie .overview-img {
		flex: 0 0 33.333333%;
		width: 33.333333%;
	}

	.descrition-movie .overview-img img {
		transform: translateY(-3.5rem);
	}

	.descrition-movie .overview-information {
		flex: 0 0 66.666666%;
		width: 66.666666%;
	}

	.movie-information-wrapper aside {
		flex: 0 0 33.333333%;
		width: 33.333333%;
	}

	.post-related-link .overview-img {
		flex: 0 0 33.333333%;
		max-width: 33.333333%;
	}

	.movie-recommend-content li {
		flex: 0 0 calc(100% / 6);
	}

	.img-movie-recommend {
		height: calc((100vw - 24px - var(--width-nav) - (8px * 6)) / (6 * 0.7));
		max-height: calc((1540px - 24px - var(--width-nav) - (8px * 6)) / (6 * 0.6));
	}
}
