.container-slider-review {
	grid-column: 1 / 3;
}

@media (min-width: 768px) {
	.container-slider-grid {
		display: grid;
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}

	.slider-grid-column-one {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-column: 1 / 4;
		grid-row: 1 /2;
	}

	.container-slider-article {
		grid-column: 1 / 3;
		grid-row: 1 / 2;
	}

	.container-slider-categories {
		grid-column: 1 / 3;
	}

	.slider-grid-column-two {
		grid-column: 1 / 4;
		grid-row: 2 / 3;
	}
}

@media (min-width: 1200px) {
	.container-slider-grid {
		display: grid;
		grid-template-columns: repeat(3, minmax(0, 1fr));
		grid-template-rows: repeat(1, minmax(0, 1fr));
	}

	.slider-grid-column-one {
		grid-column: 1 / 3;
	}

	.container-slider-article {
		grid-column: 1 / 3;
		grid-row: 1 / 2;
	}

	.container-slider-categories {
		grid-column: 2 / 3;
	}

	.slider-grid-column-two {
		grid-column: 3 / 4;
		grid-row: 1 / 2;
	}
}
