.card-review-wrapper article {
	display: flex;
	flex-direction: column;
	padding: 0.75rem;
}

.card-review-wrapper .img-feature-review {
	width: 100%;
}

.card-review-wrapper .img-feature-review img {
	border-radius: 0.75rem;
	object-fit: cover;
	opacity: 0.9;
	transition: 0.3s ease-in-out;
	width: 100%;
	height: auto;
}

.card-review-wrapper .data-review-feature {
	margin-top: 1rem;
}

/* Arrows */

.container-slider-review .splide__pagination {
	display: none;
}

.container-slider-review .splide__arrows {
	position: absolute;
	right: 0;
	top: 20px;
}

.container-slider-review .splide__arrow--prev {
	position: absolute;
	left: -60px;
}

.container-slider-review .splide__arrow--next {
	position: absolute;
	right: 0;
}
/* ==>  Arrows */

@media (min-width: 1200px) {
	.card-review-wrapper article {
		flex-direction: row;
	}

	.img-feature-review {
		margin-right: 1rem;
	}

	.data-review-feature {
		margin-top: 0rem !important;
	}
}
