.card-new-movies-wrapper .card-new-movies-img {
	position: relative;
	width: 100%;
	height: calc((100vw - 32px - var(--width-nav) - (8px * 3)) / (3 * 0.7));
	max-height: calc((1540px - 32px - var(--width-nav) - (8px * 3)) / (3 * 1.1));
	min-height: 155px;
}

.card-new-movies-wrapper .card-new-movies-img img {
	border-radius: 10px;
	object-fit: cover;
	opacity: 0.9;
	transition: 0.3s ease-in-out;
	width: 100%;
}

.card-new-movies-wrapper .info-card-movie {
	overflow-wrap: anywhere;
}

/* Arrows */

.container-slider-new-movies .splide__pagination {
	display: none;
}

.container-slider-new-movies .splide__arrows {
	position: absolute;
	right: 0;
	top: 20px;
}

.container-slider-new-movies .splide__arrow--prev {
	position: absolute;
	left: -60px;
}

.container-slider-new-movies .splide__arrow--next {
	position: absolute;
	right: 0;
}
/* ==>  Arrows */

@media (min-width: 768px) {
	.card-new-movies-wrapper .card-new-movies-img {
		height: calc((100vw - 32px - var(--width-nav) - (8px * 3)) / (3 * 0.7));
	}
}

@media (min-width: 1200px) {
	.card-new-movies-wrapper .card-new-movies-img {
		height: calc((100vw - 32px - var(--width-nav) - (8px * 6)) / (6 * 0.7));
	}
}
