/* :root {
	--width-nav: 0;
} */

html {
	font-family: 'Urbanist', sans-serif !important;
	box-sizing: border-box;
	min-width: 360px;
	--width-nav: 0px;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

@media (min-width: 990px) {
	html {
		--width-nav: 295px;
	}
}
